<p>Hi {{ name }},</p>

<p>Click the link below to {{#if initial}}set{{else}}reset{{/if}} your password:</p>
<p><a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a></p>

<p>Thanks,<br>
CrossCloud team</p>
